<a href="https://colab.research.google.com/github/ECYS000/Python/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd

url_arquivo = 'saude.csv'

dados = pd.read_csv(url_arquivo)

pd.DataFrame(dados)

# Mostra a primeira linha
# dados.head(0)

# Mostra filtro occuation somente Software por exemplo
filtro_ocupacao = dados['Occupation'] == 'Doctor'
# dados[filtro_ocupacao]
dados_filtrados = dados[filtro_ocupacao]

filtro_qualidade_sono = dados['Quality of Sleep'] > 7
dados_filtrados[filtro_qualidade_sono]

<ipython-input-11-0efe3bb66653>:18: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dados_filtrados[filtro_qualidade_sono]

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
276,277,Male,49,Doctor,8.1,9,85,3,Obese,139/91,86,3700,Sleep Apnea
277,278,Male,49,Doctor,8.1,9,85,3,Obese,139/91,86,3700,Sleep Apnea
341,342,Female,56,Doctor,8.2,9,90,3,Normal Weight,118/75,65,10000,None
342,343,Female,56,Doctor,8.2,9,90,3,Normal Weight,118/75,65,10000,None

In [2]:
import pandas as pd

url_arquivo = 'saude.csv'
tabela = pd.read_csv(url_arquivo)

filtro_idade = tabela['Age']<27
tabela = tabela[filtro_idade]

pd.DataFrame(tabela)

In [14]:
#Revisão sobre string e lista

frase = 'Aluno nota 10'

# Como pegar a palavra Aluno?
palavra = frase[5:13]

print(palavra)

 nota

In [19]:
# Podemos usar esse mesmos conceito com lista

lista_numero = [1, 20, 50, 3]

# Como pega o ultimo valor da lista?

lista_numero[-2:]

[50, 3]

In [23]:
# como adicionar valores no meio da minha lista

lista_numero = [1,2,5,6,7]

lista_numero.insert(2,3)
lista_numero.insert(3,4)

lista_numero

[1, 2, 3, 4, 5, 6, 7]

In [34]:
# Como substituir um valor na lista

lista_alfabeto = ['a', 'b', 'C', 'D', 'e']

lista_alfabeto[2:4] = ['c', 'd']
lista_alfabeto

['a', 'b', 'c', 'd', 'e']

In [35]:
# Somar lista de numeros

lista_numero = [1,2,3,4,5]

sum(lista_numero[:2])

15

In [ ]:
# Quero saber se o valor 5 esta dentro da lista

lista_numero = [1,2,3,4,5]

if 5 in lista_numero:
  print('Numero 5 esta na lista')
else:
  print('Não esta lista')

In [37]:
# Como usar o For com duas listas juntas?

lista_alunos = ['Everson','João','Andre','Kauan']
lista_notas = [10, 11, 10.5, 11.5]

for aluno, nota in zip(lista_alunos, lista_notas):
  print('Aluno: {0} - nota: {1}'.format(aluno, nota))

Aluno: Everson - nota: 10
Aluno: João - nota: 11
Aluno: Andre - nota: 10.5
Aluno: Kauan - nota: 11.5